<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script src="js/script.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div id="grid">
        
            <div class="row">
                <select id="select-genre" v-model="select">
                    
                    <option selected="selected">All</option>
                    
                    <option v-for="genre in genres" v-bind:value="genre">
                        {{ genre }}
                    </option>
                </select>
            </div>
            
            <div v-for="(album, i) in albums" class="posters">
                <div class="img-container">
                    <img :src="album.poster" alt="">
                </div>

                <p class="title">
                    {{ album.title }}
                </p>

                <p class="author">
                    {{ album.author }}
                </p>
                
                <p class="year">
                    {{ album.year }}
                </p>
            </div>

        </div>
    </div>
</body>
</html>

<!-- Attraverso una chiamata ajax all'API di boolean https://flynn.boolean.careers/exercises/api/array/music avremo a disposizione una decina di dischi musicali.  Utilizzando vue, stampiamo a schermo una card per ogni album.

BONUS: Creare una select con tutti i generi dei dischi. In base a cosa scegliamo nella select, vedremo i corrispondenti cd.

BONUS 2: Ordinare i dischi per anno di uscita. -->